{%extends 'all-posts/base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="row">
{% for image_item in snap %}
<!--Display  images  -->
<div class="container">
  
    <div class="col-md-4">
      <div  style="background-color: transparent;padding:12px">
        
        <div class="card" class="rounded-lg" style="width:450px">
        
            <div class="card-body">
{% if image_item.image %}
              <img src="{{image_item.image.url}}" alt="jiji">
              {% endif %}
              <p>{{image_item.user}}</p>
            <p>{{image_item.description}}</p>
            <p>{{image_item.photoname}}</p>
            
            <a href={{image_item.link}}>{{image_item.link}}</a>
            
            
                        
            <p>posted {{image_item.pub_date|timesince}} ago </p>
            <hr>




          </div>
        </div>

      </div>
    </div>


  </div>









{%endfor%}
</div>
{% endblock %}