{%extends 'all-posts/base.html'%}

{% block content %}
{{block.super}}
<div class="row">
{% for snap_item in snap %}
<!--Display  images  -->
<div class="container">
  
    <div class="col-md-4">
      <div  style="background-color: transparent;padding:12px">
        
        <div class="card" class="rounded-lg" style="width:450px">
          <p>{{snap_item.user}}</p>
          <img src="{{snap_item.snap.url}}" class="card-img-top" alt="Image" style="width:450px;height:300px">
          <div class="card-body">
            <p>{{snap_item.description}}</p>
            <p>{{snap_item.photoname}}</p>
            
            <p>posted {{snap_item.pub_date|timesince}} ago </p>
            <hr>




          </div>
        </div>

      </div>
    </div>


  </div>









{%endfor%}
</div>
{% endblock %}